
/*======= NAVBAR  ========*/
nav{
  position: fixed;
  height: 4.5rem;
  display: grid;
  place-items: center;
  background-color: beige;
  top: 0;
  left: 0;
  backdrop-filter: blur(20px);
  width: 100vw;
}

.nav__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__cart{
  position: relative;
}

.items-count{
  position: absolute;
  top: -0.8rem;
  right: -0.8rem;
  background-color: gray;
  border-radius: 50%;
  color: white;
  padding: 0.25rem;
}


/*======= HOME  ========*/

/* main{

} */

.home__container{
  padding: 8rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap :3rem
}


.product__img img{
  width: 10rem;
}

/*======= NAVBAR  ========*/
/*======= NAVBAR  ========*/
/*======= NAVBAR  ========*/
