*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 80%;
}
